# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/medidex?schema=public"

# Auth
BETTER_AUTH_SECRET="your-secret-key"
BETTER_AUTH_URL="http://localhost:3000"
STAGE="local"

# Meerkat API
MEERKAT_API_KEY=""
MEERKAT_API_URL=""

# Feature Flags
INACTIVITY_DIALOG="false"